<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <form method="POST" action="/create">

<fieldset>
  <label for="first_name">First Name</label/>
  <input type="text" name="first_name" />
</fieldset>


<fieldset>
  <label for="last_name">Last Name</label/>
  <input type="text" name="last_name" />
</fieldset>

<fieldset>
  <label for="phone">Phone</label/>
  <input type="text" name="phone"/>
</fieldset>

<fieldset>
  <label for="email">Email</label/>
  <input type="text" name="email"/>
</fieldset>

<fieldset>
  <label for="twitter">Twitter</label/>
  <input type="text" name="twitter"/>
</fieldset>



<input type="submit" value="Save"/>

</form>
</body>
</html>