<!DOCTYPE html>
<html>
<head>
  <title><%= @person.first_name %></title>
</head>
<body>
<table>
<tr>
<%@person.attributes.keys.each do |key| %>
  <th><%=key%></th>
  <%end%>
  </tr>
 <tr>
<%@person.attributes.values.each do |value| %>
  <td><%=value%></td>
  <%end%>
  </tr>
</table>

<%= link_to "Edit", url_for( :people, :edit, :id => @person.id )%>

</body>
</html>