<!DOCTYPE html>
<html>
<head>
  <title>Sign up</title>
</head>
<body>
<form method="POST" action="/person/signup">
<% if @message %>
  <p><%=@message%></form>
<% end %>

  <fieldset>
    <label for="name">Name</label/>
    <input type="text" name="name" />
  </fieldset>

  <fieldset>
    <label for="username">Username</label/>
    <input type="text" name="username" />
  </fieldset>


  <fieldset>
    <label for="password">Password</label/>
    <input type="text" name="password" />
  </fieldset>

<input type="submit" value="Login"/>
</body>
</html>